max_cores=$(grep "processor" /proc/cpuinfo | wc -l)
extra_cores=$(( $max_cores * 3 / 2 ))
if [[ $max_cores -eq 1 ]] ; then
	max_cores=4
fi
increment=$(($max_cores/20))
if [[ $increment -eq 0 ]] ; then
	increment=1
fi
decay_increment=$(($increment*2))
decay_start=$(($max_cores + $decay_increment))

cores="$(seq $increment $increment $max_cores) $(seq $decay_start $decay_increment $extra_cores)"
if [[ $increment -gt 1 ]] ; then
	cores="1 $cores"
fi
