set_cpu=0;        # pin threads to cores or not
repetitions=7;
duration=4000;
keep=median;      # value to keep: max min median
cores=ppopp;      # configuration of num. threads to use (check ./scripts/config)

fixed_file_dat=0;	#so that the gnuplot scripts are not parametrized by
			#the platform name

